<div class="container py-4">
  <h1 class="mb-4 display-4">Profiles</h1>
  <table class="table table-bordered table-hover">
    <thead class="table-dark">
      <tr>
        <th>Bio</th>
        <th>User</th>
      </tr>
    </thead>
    <tbody>
      <% @profiles.each do |profile| %>
        <tr>
          <td><%= profile.bio %></td>
          <td><%= profile.user.name if profile.user %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
